/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Tailwindcss Utility classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* layout */
:root {
    --primary: #1aac83;
    --error: #e7195a;
}

body {
    background: #f1f1f1;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background: #fff;
    z-index: 10000;
}

header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #333;
    text-decoration: none;
}

.pages {
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
}

/* homepage */
.home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
}

.workout-details {
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.workout-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--primary);
}

.workout-details p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}

.workout-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
}

/* new workout form */
label,
input {
    display: block;
}

label {
    color: #333;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;

    outline: none;
}

input:focus {
    border: 1px solid var(--primary);
}

form button {
    background: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
}

div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
    text-align: center;
}

.success {
    padding: 10px;
    background: #e9f7f1;
    border: 1px solid #1aac83;
    color: #1aac83;
    border-radius: 4px;
    margin: 20px 0;
    text-align: center;
}

input.error {
    border: 1px solid var(--error);
}

.results {
    background: transparent;
    border-radius: 4px;
    backdrop-filter: blur(10px);
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);

    position: absolute;
    padding: 10px 30px;
    width: 227px;

    transform: translate(-50% -50%);
}

#title {
    color: var(--primary);
}

/* navbar */
nav {
    display: flex;
    align-items: center;
}

nav a,
nav button {
    margin-left: 10px;
}

nav button {
    background: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
}

/* auth forms */
form.signup,
form.login {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

.lds-facebook,
.lds-facebook div {
    box-sizing: border-box;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: var(--primary);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0s;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

/* MEDIA QUERIES */
@media (max-width: 575.98px) {
    /* Extra small devices (phones, less than 576px) */

    #form {
        position: relative;
        width: 100%;
        margin-left: 40px;
        margin-bottom: 50px;
    }

    #logo {
        font-size: 20px;
    }

    .results {
        position: relative;
    }

    header {
        overflow-x: hidden;
    }

    .home {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        gap: 30px;
    }

    .workout-details {
        width: 450px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #form {
        position: relative;
        width: 100%;
        margin-left: 40px;
        margin-bottom: 50px;
    }

    #logo {
        font-size: 20px;
    }

    #result {
        bottom: -50px;
        background: white;
        border-radius: 4px;
    }

    .home {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        gap: 30px;
    }

    .workout-details {
        width: 550px;
    }
}